version: 2.1

jobs:
  sync-to-study:
    docker:
      - image: cimg/base:stable

    steps:
      - checkout

      - run:
          name: Install rsync
          command: |
            sudo apt-get update
            sudo apt-get install -y rsync

      - run:
          name: Clone study repository
          command: |
            git clone https://x-access-token:${ORG_PUSH_PAT}@github.com/SSAFY-15/baekjoon_kca.git study-repo

      - run:
          name: Sync BOJ solutions to study repo
          command: |
            export LANG=C.UTF-8

            TARGET_DIR="study-repo"
            mkdir -p "$TARGET_DIR"

            rsync -av ./ "$TARGET_DIR" \
              --exclude study-repo \
              --exclude .git \
              --exclude .circleci \
              --exclude README.md

      - run:
          name: Commit & push
          command: |
            cd study-repo

            git config user.name "Choa0Kim"
            git config user.email "asjklcom@gmail.com"

            git add 백준
            git commit -m "Update yeonju BOJ solutions" || echo "No changes to commit"

            git push

workflows:
  version: 2
  sync-workflow:
    jobs:
      - sync-to-study
